.classroom-manager
  &__table
    background-color: white
    border: solid thin GREY_1

  .table
    &__caption
      bottom: -2.25em
      font-weight: bold
      position: relative
      text-align: left

    // &__headers
