.export-modal
  &__button
    margin-right: 1em

  &__button--google
    background: #4285F4
    border: solid thin #4285F4
    max-width: 100px

    .grommetux-button__label
      color: #ffffff
      font-size: 14px
      margin: 0

      div
        align-items: center
        display: flex
        padding-right: 8px

      svg
        background: #ffffff
        height: 30px
        margin-right: 18px
        padding: 6px
        width: 30px

  .button__container--google__label
    align-self: center
    margin-right: 1ch

