BORDER_SIZE = 0.25rem

.wildcam-classrooms

  .classrooms-list
    border: BORDER_SIZE solid TEAL_MID
    
    .table
      .button
        max-width: 10em
    
  .classroom-form
    border: BORDER_SIZE solid TEAL_MID
    
    .details-list      
      > li
        label
          margin: 0
          min-width: 12em
          flex: 1 0 auto
          
        span
          flex: 0 1 auto

  .status-box
    background: TEAL_LIGHT

  .actions-panel
    .button
      margin: 0 0.5em
